.unitCombatReport {
  text-align: left;
  background-color: var(--background-L0);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  padding: 8px;

  header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
  }

  h3 {
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  th, td {
    font-weight: 400;
    padding: 0;
  }
}

.contentWrapper {
  background-size: auto 66%;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}

.attacker .contentWrapper {
  /* TO DO: horizontal flip attacker's image? */
}

.unitHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.unitLevelButton {
  background: transparent;
  border: 0;
  border-radius: var(--radius-md);
  padding: 0;
  width: 22px;
  height: 22px;

  img {
    width: 100%;
    height: 100%;
  }
}

.unitStats {
  background: linear-gradient(to right, rgba(#264da4, 0.3) 0%, rgba(#264da4, 0.0) 100%);
  border-left: 3px solid #80889e;
  border-radius: var(--radius-sm);
  background-size: contain;
  width: 152px;
  font-size: 12px;
  line-height: 16px;

  table {
    width: 100%;
  }

  th {
    width: 16px;
    vertical-align: middle;
    line-height: 0;
    padding: 0 8px;

    button {
      // fix tooltip trigger button height so image is centered
      line-height: 0;
    }

    img {
      width: 12px;
      height: 12px;
    }
  }

  tr {
    height: 18px;
  }
}

.combatStats {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;

  th {
    font-weight: 700;
    padding-right: 4px;
    padding-left: 8px;
  }

  td {
    font-weight: 400;
    min-width: 60px;
  }
}

@media (max-height: 900px) {
  .unitCombatReport {
    font-size: 0.85em;
  }
}
