.unitCombatReport {
  text-align: left;
  background-color: var(--background-L0);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-md);
  padding: 8px;

  h3 {
    font-size: 15px;
    margin: 0 0 4px 0;
    text-transform: uppercase;
  }

  table {
    border-spacing: 0;
  }

  th {
    font-weight: normal;
    text-align: right;
    padding: 0;
  }

  td {
    padding: 0;
  }
}

.contentWrapper {
  background-size: 33%;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}

.attacker .contentWrapper {
  /* TO DO: horizontal flip attacker's image? */
}

.unitHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.defender .hasVersus.unitHeader {
  padding-left: 8px;
}

.versus {
  float: left;
  margin-right: 6px;
  font-size: 15px;
  font-weight: 900;
  background: linear-gradient(rgb(255, 100, 72), rgb(255, 189, 66));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.unitStats {
  background: url('/unit_data_bg.png');
  background-size: contain;
  width: 152px;
  height: 108px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 16px;

  th {
    display: none;
  }

  tr {
    height: 17.25px;
  }

  tr.unitHp {
    height: 20px;
  }
}

.combatStats {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;

  th {
    font-weight: bold;
    padding-right: 6px;
  }

  td {
    font-weight: normal;
    min-width: 60px;
  }
}

@media (max-height: 900px) {
  .unitCombatReport {
    font-size: 0.85em;
  }
}
