@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.container {
  display: flex;
  flex-direction: row;
}

.leftSide {
  container-type: inline-size;
  container-name: leftSide;
  flex-grow: 1;
  text-align: right;
}

.leftSideLayout {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.modifyUnit {
  flex-grow: 1;
  text-align: left;

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}

.modSelector {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.modOption {
  background-color: #313131;
  border: 2px solid rgba(235, 106, 7, 0.8);
  border-radius: 2px;
  display: flex;
  font-size: 12px;
  padding: 4px;

  img {
    height: 48px;
    width: 48px;
    margin-right: 8px;
  }
}

.modOption[data-selected] {
  background-color: rgba(235, 106, 7, 0.8);
}

.unitDisplay {
  min-width: 200px;
}

.rightSide {
  container-type: inline-size;
  container-name: rightSide;
  flex-grow: 1;
  text-align: left;
}

.divider {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: visible;
  padding-top: 12vh;
  width: 64px;
}

.versus {
  font-family: "Russo One", sans-serif;
  font-size: 30px;
  background: linear-gradient(red, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  position: relative;
  transform: scale(2);
  transform-origin: center;
  z-index: 1;
}

.swapButton {
  margin-top: 175px;
}