@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
$layout-breakpoint: 1040px;

.gridContainer {
  display: grid;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 1fr 32px 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto auto;
  grid-template-areas:
    "header   header    gap infopanel infopanel"
    "unitsA   unitsA    gap unitsB  unitsB"
    "unitsA   unitsA    gap unitsB  unitsB"
    "attacker defender  gap unitsB  unitsB"
    "modsA    modsA     gap modsB   modsB";
  width: 100%;
  min-height: calc(100vh - 3.2rem);
  min-width: 500px;

  @media (max-width: $layout-breakpoint) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto auto 0px 1fr auto;
    grid-template-areas:
      "header   header"
      "infopanel infopanel"
      "unitsA   unitsA"
      "modsA    modsA"
      "attacker defender"
      "gap      gap"
      "unitsB   unitsB"
      "modsB    modsB";
  }
}

.pageTitle {
  grid-area: header;
  align-content: start;
  text-align: left;
  padding-left: 120px;

  h1 {
    margin: 0;
  }
}

.infopanel {
  align-content: start;
  text-align: left;
  grid-area: infopanel;
  width: 100%;
  margin-top: -1.6rem;
  padding: 6px 12px;
  position: relative;

  // styles are similar to base.css h3 styles
  border-bottom: 1px solid var(--border-neutral);
  border-left: 3px solid var(--border-neutral);
  border-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-md);
  box-shadow: inset 3px -3px 5px -2px var(--glow-interactive-off);
  font-size: 0.75em;
  background: linear-gradient(to bottom left,
      rgba(var(--background-L1-rgb), 0.0) 0%,
      rgba(var(--background-L1-rgb), 0.6) 64px,
      rgba(var(--background-L1-rgb), 0.6));

  @media (max-width: $layout-breakpoint) {
    margin-top: 0;
    padding: 12px;
  }


  strong {
    position: absolute;
    top: 1px;
    right: 0;
    border-radius: var(--radius-sm);
    border-bottom-left-radius: var(--radius-md);
    padding: 6px 12px;

    @media (max-width: $layout-breakpoint) {
      position: static;
      padding: 0;
      margin: 0 0 1em 0;
    }
  }

  ul {
    margin: 0;
    padding-left: 1.2em;
    position: relative;
    z-index: 1;
  }
}

.gameVersion {
  color: white;
  position: absolute;
  top: 26px;
  right: 12px;
  opacity: 0.9;

  @media (max-width: $layout-breakpoint) {
    position: static;
    float: right;
    line-height: 2em;
  }
}

.modsA {
  grid-area: modsA;
  position: relative;
}

.modsB {
  grid-area: modsB;
  position: relative;
}

.modsA, .modsB {
  button + h2 {
    // prevents border from sticking out
    margin-right: 2px;
  }
}

.gap {
  grid-area: gap;
}

.unitsA {
  grid-area: unitsA;
  position: relative;
  // counteracts grid gap for attack/defend units
  margin-bottom: -12px;
}

.unitsB {
  grid-area: unitsB;
  position: relative;
}

.unitsA, .unitsB {
  @media (max-width: $layout-breakpoint) {
    padding-bottom: 36px;
  }
  
  h2 {
    display: none;

    @media (max-width: $layout-breakpoint) {
      display: block;
      margin-bottom: 8px;
    }
  }
}

.test {
  float: right;
}

.attacker {
  grid-area: attacker;
  position: relative;
  padding-right: 8px;
}

.defender {
  grid-area: defender;
  padding-left: 8px;
}

.attacker,
.defender {
  padding-top: 12px;

  &:empty {
    padding-top: 0;
  }
}

.resetButton {
  position: absolute;
  top: 0px;
  right: 0;
}
