$modMinWidth: 44px;
$modMaxWidth: 200px;

@mixin gridColumnTemplate($columns) {
  grid-template-columns: 
    repeat($columns, minMax($modMinWidth, $modMaxWidth))
    // attack and defense research mods
    minMax(min-content, 1fr)
    minMax(min-content, 1fr);
  max-width: $modMaxWidth * ($columns + 2) + 2px * ($columns + 1);
}

.modSelector {
  display: grid;
  grid-auto-flow: column;
  @include gridColumnTemplate(1);
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  padding-top: 4px;

  // alternate column layouts based on number of mods
  &.columnRepeat2 {
    @include gridColumnTemplate(2);
  }
  &.columnRepeat3 {
    @include gridColumnTemplate(3);
  }
  &.columnRepeat4 {
    @include gridColumnTemplate(4);
  }
  // not used - just in case!
  &.columnRepeat5 {
    @include gridColumnTemplate(5);
  }
}

.attackResearch1, .defenseResearch1 {
  // align to 2nd last column
  grid-column: -3;
}

.attackResearch2, .defenseResearch2 {
  // align to last column
  grid-column: -2;
  column-gap: 0;
}

.modOption {
  background-color: var(--interactive-off);
  border: 1px solid var(--border-interactive-off);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $modMinWidth;
  max-width: $modMaxWidth;
  height: 44px;
  padding: 2px;
  padding-left: 40px;
  position: relative;
  container-type: size;

  img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
  }

  &:focus, &[data-hovered] {
    border-color: var(--border-interactive-off-hover);
    color: white;
    z-index: 1;
  }
}

.modName {
  font-size: 0.875em;
  line-height: 16px;
  text-shadow: 1px 1px 0 #000, 0 0 2px rgba(0, 0, 0, 0.6);
  max-height: 2lh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.modOption[data-selected] {
  background: var(--interactive-on);
  border-color: var(--border-interactive-on);
  box-shadow: var(--interactive-on-glow);

  &[data-hovered] {
    background: var(--interactive-on);
    border-color: var(--border-interactive-on-hover);
    box-shadow: var(--interactive-on-glow-hover);
  }

  img {
    filter: saturate(1.1) contrast(1.15);
  }
}

@container (max-width: 40px) {
  .modOption img {
    left: 50%;
    transform: translateX(-50%);
  }
  .modName {
    display: none;
  }
}

@container (max-width: 800px) {
  .attackResearch1,
  .defenseResearch1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.2);


    &[data-selected] {
      border-right-width: 1px;
    }
  }

  .attackResearch2,
  .defenseResearch2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    // removes gap
    margin-left: -4px;

    &[data-selected] {
      border-left-width: 1px;
    }
  }
}

.descriptionTooltip {
  // cover the entire modOption with invisible trigger
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: var(--radius-sm);
  z-index: 2;
}