.modSelector {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.modOption {
  background-color: #313131;
  border: 2px solid rgba(235, 106, 7, 0.8);
  border-radius: 2px;
  display: flex;
  font-size: 12px;
  padding: 4px;

  img {
    height: 48px;
    width: 48px;
    margin-right: 8px;
  }
}

.modOption[data-selected] {
  background-color: rgba(235, 106, 7, 0.8);
}