.modSelector {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto min-content min-content;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "starters dynamic attackResearch"
    "starters dynamic defenseResearch";
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px 0;

  header {
    display: none;
  }
}

.starterSpecialistMods, .dynamicMods {
  // grid layout for standard mods
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 2px;
}

.attackResearchMods, .defenseResearchMods {
  // compact grid for research mods
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
}

.starterSpecialistMods {
  grid-area: starters;
}

.dynamicMods {
  grid-area: dynamic;
}

.attackResearchMods {
  grid-area: attackResearch;
}

.defenseResearchMods {
  grid-area: defenseResearch;
}

.modOption {
  background-color: var(--interactive-off);
  border: 1px solid var(--border-interactive-off);
  border-radius: var(--radius-sm);
  display: flex;
  gap: 8px;
  font-size: 12px;
  padding: 2px;
  position: relative;
  text-align: left;

  img {
    height: 48px;
    width: 48px;
  }

  &:focus, &[data-hovered] {
    z-index: 1;
  }
}

.modOption[data-selected] {
  background-color: var(--interactive-on);
  border-color: var(--border-interactive-on);
}

.attackResearchMods .modOption,
.defenseResearchMods .modOption {
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.2);

  // style the mods so they look connected
  &:first-of-type {
    border-top-left-radius: var(--radius-sm);
    border-bottom-left-radius: var(--radius-sm);
    border-left-width: 1px;
  }

  &:last-of-type {
    border-top-right-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
    border-right-width: 1px;
    box-shadow: none;
  }
}

.modName {
  font-size: 15px;
}

.modDescription {
  margin: 0.5em 0;

  dfn {
    font-weight: 700;

    // insert a colon after term
    &::after {
      content: ":";
    }
    }
}

.descriptionTooltip {
  // cover the entire modOption with invisible trigger
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: var(--radius-sm);
}