.unitSelector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
  grid-auto-flow: row;
  justify-content: center;
}

.unit {
  background-color: #313131;
  border: 2px solid rgba(235, 106, 7, 0.8);
  border-radius: 2px;
  padding: 8px;
  position: relative;
  text-align: center;
}

.unit[data-selected] {
  background-color: rgba(235, 106, 7, 0.8);
}

.unitImage {
  width: 100%;
  height: auto;
}

.unitName {
  background: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  padding: 8px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
