.tooltip-trigger-button {
  background: none;
  border: none;
  border-radius: inherit;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

.react-aria-Tooltip {
  --gradient-start: color-mix(in oklab, var(--background-L2) 75%, black);
  --gradient-end: var(--background-L2);
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.6),
    0 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #000
    linear-gradient(0deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  color: #fff;
  font-size: 13px;
  outline: none;
  padding: 2px 8px;
  max-width: 150px;
  /* fixes FF gap */
  transform: translate3d(0, 0, 0);

  .react-aria-OverlayArrow {
    pointer-events: none;
  }

  &[data-placement='top'] {
    margin-bottom: 12px;
    --origin: translateY(6px);
    fill: var(--gradient-end);
  }

  &[data-placement='bottom'] {
    margin-top: 12px;
    --origin: translateY(-6px);
    & .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement='right'] {
    margin-left: 12px;
    --origin: translateX(-6px);
    & .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
      fill: color-mix(in oklab, var(--gradient-start) 50%, var(--gradient-end));
    }
  }

  &[data-placement='left'] {
    margin-right: 12px;
    --origin: translateX(6px);
    & .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
      fill: color-mix(in oklab, var(--gradient-start) 50%, var(--gradient-end));
    }
  }

  & .react-aria-OverlayArrow svg {
    display: block;
    fill: var(--gradient-start);
  }

  &[data-entering] {
    animation: slide 200ms;
  }

  &[data-exiting] {
    animation: slide 200ms reverse ease-in;
  }
}

@keyframes slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
