.app {
  background-image: url('/site-background-top.jpg'),
    url('/site-background-bottom.jpg');
  background-position:
    top center,
    bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: lighten;
  margin: 0 auto;
  min-width: calc(500px + 4rem);
  padding: 1.6rem 2rem;
  text-align: center;
}
