/* Fonts from google fonts */
/* Ubuntu: 400 and 700 weight */
/* Sofia Sans Extra Condensed: wight 600 */
/* fonts are linked in /index.html */

:root {
  /* UI base colors */
  --text-default: rgba(255, 255, 255, 0.9);
  --border-subtle: #1b2b43;
  --border-neutral: #5a5f78;
  --border-highlight: #5a74c0;
  --background-L0: #0f1013;
  --background-L0-rgb: 15, 16, 19;
  --background-L1: #1a233f;
  --background-L1-rgb: 26, 35, 63;
  --background-L2: #264da4;
  --background-L2-rgb: 38, 77, 164;

  /* interactive elements */
  --interactive-off: #24283b;
  --interactive-on: #313e7c linear-gradient(0deg, #3a457b 0%, #313e7c 100%);
  --border-interactive-off: #5a74c0;
  --border-interactive-off-hover: #a0b3ea;
  --border-interactive-on: #e8ac5f;
  --border-interactive-on-hover: #ffcb87;
  --interactive-on-glow: 0 0 3px rgba(232, 172, 95, 0.8);
  --interactive-on-glow-hover: 0 0 5px rgba(232, 172, 95, 1);
  --border-ui-off: rgba(163, 168, 183, 0.5);
  --border-ui-on: #a3a8b7;
  /* state management */
  --selected: #61cf5a;
  --selectedRGB: 32, 194, 14;
  --positive-change: #0ad000;
  --negative-change: hsl(0, 100%, 60%);

  /* UI base rules */
  --radius-sm: 1px;
  --radius-md: 4px;
}

:root {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: dark;
  color: var(--text-default);
  background-color: var(--background-L0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.typeface-condensed {
  font-family: 'Sofia Sans Extra Condensed', 'Arial Narrow', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 700;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin-top: 0;
}

.title-h3 {
  border-bottom: 1px solid var(--border-highlight);
  border-left: 3px solid var(--border-highlight);
  border-bottom-left-radius: var(--radius-md);
  box-shadow: inset 3px -3px 5px -2px var(--glow-interactive-off);
  text-align: left;
  font-size: 0.875em;
  font-weight: 400;
  margin: 0;
}

.title-h3 > span {
  background: linear-gradient(
    to left,
    rgba(var(--background-L2-rgb), 0) 0%,
    rgba(var(--background-L2-rgb), 0.5) 48px,
    rgba(var(--background-L2-rgb), 0.5)
  );
  display: inline-block;
  padding: 2px 6px;
  padding-right: 64px;
}

button {
  border-radius: var(--radius-md);
  border: 1px solid var(--border-ui-off);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  transition:
    border-color 0.25s,
    background 0.25s;
}

button.compressed {
  border: 1px outset var(--border-ui-on);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0 0.8em;
  font-size: 0.8em;
  height: 26px;
}

button[data-pressed="true"] {
  border-color: var(--border-interactive-on);
  box-shadow: var(--interactive-on-glow);
}

button:hover {
  background: rgba(var(--background-L1-rgb), 0.8);
  border-color: var(--border-interactive-on-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.react-aria-Menu {
  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  padding: 2px;
  min-width: 150px;
  box-sizing: border-box;
  outline: none;
}

.react-aria-MenuItem {
  margin: 2px;
  padding: 0.286rem 0.571rem;
  border-radius: var(--radius-md);
  outline: none;
  cursor: default;
  font-size: 1.072rem;

  &[data-focused] {
    background: var(--interactive-on);
    color: #fff;
  }
}

.react-aria-Popover {
  --background-color: rgba(0, 0, 0, 0.9);

  border: 1px solid var(--border-interactive-on-hover);
  box-shadow: 2px 4px 16px rgba(0 0 0 / 0.4);
  border-radius: var(--radius-md);
  background: var(--background-color);
  outline: none;
  max-width: 250px;

  .react-aria-OverlayArrow svg {
    display: block;
    fill: var(--background-color);
    stroke: var(--border-interactive-on-hover);
    stroke-width: 1px;
  }

  &[data-placement=top] {
    --origin: translateY(8px);

    &:has(.react-aria-OverlayArrow) {
      margin-bottom: 6px;
    }
  }

  &[data-placement=bottom] {
    --origin: translateY(-8px);

    &:has(.react-aria-OverlayArrow) {
      margin-top: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement=right] {
    --origin: translateX(-8px);

    &:has(.react-aria-OverlayArrow) {
      margin-left: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement=left] {
    --origin: translateX(8px);

    &:has(.react-aria-OverlayArrow) {
      margin-right: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }

  &[data-entering] {
    animation: popover-slide 200ms;
  }

  &[data-exiting] {
    animation: popover-slide 200ms reverse ease-in;
  }
}

@keyframes popover-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* global focus style */
:focus-visible,
*:focus {
  border-color: var(--selected);
  outline: none;
  transition: box-shadow 0.2s ease-out;
  box-shadow:
    0 0 12px 0 rgba(var(--selectedRGB), 0.6),
    0 0 0 2px var(--selected);
}


